# Exclude everything
*

# Explicitly include the changed files
!.editorconfig
!.envrc
!.gitignore
!.shellcheckrc
!README.md
!default.code-workspace
!flake.nix
!flake.lock
!tasks

# Include Changes Files
!Phoenix/Content/Paks/~mods
